<div>
  <header><strong>App component Header</strong> 
    <nav>
      <!-- href will reload the component so instead we can use routerLink property from angular tp render the view -->
      <li><a routerLink=""  routerLinkActive="bactive" [routerLinkActiveOptions]="{exact:true}"> Main </a></li>
      <li><a routerLink="about"  routerLinkActive="bactive" [routerLinkActiveOptions]="{exact:true}"> about </a></li> 
      <!-- <li> <button type="button" (click)="OnAboutClick()">About</button></li> --> 
      <li><a routerLink="home" routerLinkActive="bactive" [routerLinkActiveOptions]="{exact:true}"> home </a></li>
      <li> <a routerLink="about/46/peter"  routerLinkActive="bactive" [routerLinkActiveOptions]="{exact:true}">famous read</a></li>
      <li><button type="button" (click)="login()">login</button></li>
      <li><button type="button" (click)="logout()">logout</button></li>
    </nav>
  </header>
</div>

<router-outlet></router-outlet>
<footer>App component Footer</footer>